.main1{
    background-color:rgba(255,0,0, 0.9);
}

.main2{
    background-color:rgba(0,255,0, 0.9);
}

.main3{
    background-color:rgba(0,0,255, 0.9);
}

#hsl1{
    background-color:hsl(240,100%,75%);
}

#hsl3{
    background-color:hsl(240,100%,50%);
}

#hsl2{
    background-color:hsl(240,100%,20%);
    color: aliceblue;
}

#hsla{
    background-color: hsla(240, 75%, 50%, 0.3);
}