.tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(0, 0, 0);
    margin-left: 150px;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: rebeccapurple;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}

.tooltip2 {
    position: relative;
    display: inline-block;
    margin-left: 150px;
    border-bottom: 1px dotted rgb(0, 0, 0);
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

.tooltip3 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
.tooltip3 .tooltiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: green;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip3:hover .tooltiptext3 {
    visibility: visible;
  }