.inline {
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid black;
    background-color: yellow;
}

.inline-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid black;
    background-color: yellow;
}

.block {
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid black;
    background-color: yellow;
}