
  .div4{
    float: left;
    padding: 8px;
    border: 3px solid #73AD21;
  }
  
  .div5{
    padding: 10px;
    border: 3px solid red;
  }
  
  .div6 {
    float: left;
    padding: 8px;  
    border: 3px solid #73AD21;
  }
  
  .div7 {
    padding: 10px;
    border: 3px solid red;
    clear: left;
  }