
img {
  float: right;
}

img.left {
    float: left;
  }

img.none {
    float: none;
  }

div {
    float: left;
    padding: 15px; 
    border: solid;
    margin: 10px;

  }  
.div4{
  float: left;
  padding: 10px;
  border: 3px solid #73AD21;
}

.div5{
  padding: 10px;
  border: 3px solid red;
}

.div6 {
  float: left;
  padding: 10px;  
  border: 3px solid #73AD21;
}

.div7 {
  padding: 10px;
  border: 3px solid red;
  clear: left;
}